<footer class="mt-auto bg-primary text-white text-center text-lg-start fixed-bottom">
  <div class="container">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="text-center">
        <p class="lead">Developed by <a href="https://www.linkedin.com/in/rafael-viana-75529b32/" target="_blank" class="me-4 text-reset bg-transparent fw-bold">rvlaraujo</a></p>
      </div>
    </section>
  </div>
</footer>
