  
<li class="nav-item">
  <%= link_to 'Edit registration', edit_user_registration_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
</li>
