<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Albums</h1>
</div>
<div class="row">
  <div class="col-md align-self-end offset-md">
    <%= link_to new_album_path, class: 'btn btn-success text-white' do %>
      <i class="bi bi-plus-lg"></i> New Album
    <% end %>
  </div>
</div>
<!-- Albuns list -->
<%= render "shared/albums_table" %>
<div class="col-md">
  <%= link_to new_album_path, class: 'btn btn-success text-white' do %>
    <i class="bi bi-plus-lg"></i> New Album
  <% end %>
</div>
